body{
  background: #F1F1F1;
}
.container{
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);    
}
h1, .card{
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;
}
.card p{
  font-size: 21px;
}